<template>
    <div id="hello">
        <h1>
            HOMEPAGE
        </h1>
        <button class="btn btn-light">Hello</button>
        <div class="box">
            <router-link to="/about" class="router">To About </router-link>
            <router-link to="/contact" class="router">To Contact </router-link>
            <router-link to="/profile" class="router">To Profile </router-link>
            <router-link to="/latihan" class="router">To Latihan </router-link>
        </div>
    </div>
</template>

<script>
export default {
    
}
</script>

<style>

</style>
