/*styling bebas disini*/
#hello {
    background-color: greenyellow;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

h1 {
    font-size: 50px;
    padding:30px;
}

.container {
    width: 700px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;

}

.router {
    padding: 30px;
}

.m-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle {
    width: 700px;
    height:700px;
    background-color: gray;
}