<template>
  <div id="app">
    <router-view/>
    <div id="components-demo">
  <button-counter></button-counter>
</div>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>

</style>
